@font-face {
  src: url('ProximaNova-Regular.woff2') format('woff2');
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 500;
}
@font-face {
  src: url('ProximaNova-Light.woff2') format('woff2');
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
}
@font-face {
  src: url('ProximaNova-Thin.woff2') format('woff2');
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 100;
}
@font-face {
  src: url('ProximaNova-Semibold.woff2') format('woff2');
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
}
@font-face {
  src: url('ProximaNova-Bold.woff2') format('woff2');
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
}
@font-face {
  src: url('ProximaNova-Extrabld.woff2') format('woff2');
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 800;
}
@font-face {
  src: url('ProximaNova-Black.woff2') format('woff2');
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 900;
}
@font-face {
  src: url('ProximaNova-RegularIt.woff2') format('woff2');
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 500;
}
@font-face {
  src: url('ProximaNova-LightIt.woff2') format('woff2');
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 400;
}
@font-face {
  src: url('ProximaNova-ThinIt.woff2') format('woff2');
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 100;
    
}
@font-face {
  src: url('ProximaNova-SemiboldIt.woff2') format('woff2');
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 600;
}
@font-face {
  src: url('ProximaNova-BoldIt.woff2') format('woff2');
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 700;
}
@font-face {
  src: url('ProximaNova-ExtrabldIt.woff2') format('woff2');
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 800;
}
@font-face {
  src: url('ProximaNova-BlackIt.woff2') format('woff2');
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 900;
}